@use '../abstract/variaveis';
@use '../abstract/mixins';

#servico{
    background: var(--gradiente-primario);
    padding: 2rem 0;
    .cards{
        display: flex;
        justify-content: center;
        padding: 2rem;
        gap: 20px;
      
        .card{
            background: var(--gradiente-secundario);
            max-width: 384px;
            padding: 20px;
            text-align: center;
            border: 3px solid #FFFFFF;
            border-radius: 32px;

            .card-titulo{
                @include mixins.ff-fs-cl(var(--titulos), 1.625rem, var(--cor-primaria));
                font-weight: 400;

            }

            .card-texto{
                @include mixins.ff-fs-cl(var(--titulos), 1.375rem, var(--cor-primaria));
                font-weight: 400;
 
            }
        }

    }
}